<p id="notice"><%= notice %></p>

<h5>
  <strong>User:</strong>
  <%= @post.user.name %>
</h5>

<h2>
  
  <%= @post.content %>
</h2>

<!-- 追加箇所 開始 -->
<p>
  <% if @post.image? %>
    <div class="thumbnail">
      <%= image_tag @post.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->

<p>
  <%= commontator_thread(@post) %>
  <%#<%= commontator_thread_show(@post) %>
</p>

<% if current_user.id == User.find(@post.user_id).id %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', root_path %>

