    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/">BUY1GET1</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <% if user_signed_in? %>
                    <li><a href=<%=edit_user_registration_path%>><button type="button" class="btn btn-default navbar-btn" style="margin:-15px;"%>Edit Profile</button></a></li>
                    <li><a rel="nofollow" data-method="delete" href=<%=destroy_user_session_path%>><button type="button" class="btn btn-default navbar-btn" style="margin:-15px;"%>Log out</button></a></li>
                    <li><a href=<%=user_path(id=current_user.id)%>><button type="button" class="btn btn-default navbar-btn" style="margin:-15px;"%>Profile</button></a></li>
                  <% else %>
                    <li><a href=<%=new_user_registration_path%>><button type="button" class="btn btn-default navbar-btn" style="margin:-15px;"%>Sign Up</button></a></li>
                    <li><a href=<%=new_user_session_path%>><button type="button" class="btn btn-default navbar-btn" style="margin:-15px;"%>Sign In</button></a></li>
                  <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </header>