    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Share Deals!</a>
        			<%# add search form to navbar %>
        		<div class="form-group navbar-form navbar-header">
            <%= search_form_for @q do |f| %>
              <%= f.text_field :content_cont, :placeholder => "Search", :size => "30px", :class => "form-control" %>
              <%= f.submit 'Search', :class => "btn btn-default" %>
            <% end %>
            </div>
            
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <% if user_signed_in? %>
                    <li><a href=<%=edit_user_registration_path%>>Edit Profile</a></li>
                    <li><a rel="nofollow" data-method="delete" href=<%=destroy_user_session_path%>>Log out</a></li>
                    <li><a href=<%=user_path(id=current_user.id)%>>Profile</a></li>
                  <% else %>
                    <li><a href=<%=new_user_registration_path%>>Sign Up</a></li>
                    <li><a href=<%=new_user_session_path%>>Sign In</a></li>
                  <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </header>
    
    
    
    
    