<!DOCTYPE html>
<html>
<head>
  <title>BUY1GET1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
        <div id="main-container" class="container">
          <div class="row">
            <div id="sidebar" class="col-xs-3">
            </div>
            <div id="content" class="col-xs-6 text-center">
              <%= yield %>
            </div>
            <div id="content" class="col-xs-3">
            </div>
          </div>
        </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



</body>
</html>
