<!DOCTYPE html>
<html>
<head>
  <title>Log in</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        
        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Tealeaf Todo</a>
            </div>
          </div>
          <% if user_signed_in? %>
                Logged in as <strong><%= current_user.email %></strong>.
                
                <%= link_to 'プロフィール変更', edit_user_registration_path %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
                <%= link_to 'サインアップ', new_user_registration_path %>
                <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
            <%= link_to 'home', posts_path %>
        </nav>

        <div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
            </div>
            <div id="content" class="col-xs-6">
              <%= yield %>
            </div>
            <div id="content" class="col-xs-3">
            </div>
          </div>
        </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



</body>
</html>
